---
- name: install apache
  become: yes
  package:
    name: apache2
- name: enable apache modules
  become: yes
  apache2_module:
    name: "{{ item }}"
  loop:
    - ssl
    - rewrite
    - proxy
    - proxy_http
- include_tasks: http.yml
- include_tasks: https.yml
- name: check if site 000-default is enabled
  stat:
    path: /etc/apache2/sites-enabled/000-default.conf
  register: default
- name: check if site 000-default-le-ssl is enabled
  stat:
    path: /etc/apache2/sites-enabled/000-default.conf
  register: defaultssl
- name: disable default site (000-default)
  become: yes
  command: a2dissite 000-default.conf
  when: default.stat.exists
- name: disable default site (000-default-le-ssl)
  become: yes
  command: a2dissite 000-default-le-ssl.conf
  when: defaultssl.stat.exists
- name: copy .htpasswd
  become: yes
  copy:
    src: .htpasswd
    dest: /etc/apache2/.htpasswd
    owner: root
    group: root
    mode: '755'
- name: restart apache2 service
  become: yes
  systemd:
    name: apache2
    enabled: yes
    state: restarted
- name: open ports for apache
  become: yes
  ufw:
    rule: allow
    name: "WWW Full"
- name: flush handlers
  meta: flush_handlers
