---
- name: install dependencies
  become: yes
  package:
    name:
      - php
      - libapache2-mod-php
      - ffmpeg
      - sox
      - mediainfo
- name: clone rutorrent repo
  become: yes
  git:
    repo: https://github.com/Novik/ruTorrent.git
    update: yes
    clone: true
    force: yes
    dest: "/var/www/html/rutorrent"
- name: copy config.php
  become: yes
  copy:
    src: files/rutorrent/config.php
    dest: "/var/www/html/rutorrent/conf/config.php"
    owner: "rtorrent"
    group: "rtorrent"
- name: set owner for rutorrent files to www-data
  become: yes
  file:
    owner: www-data
    group: www-data
    recurse: yes
    state: directory
    path: /var/www/html/rutorrent
- name: add user www-data to rtorrent group
  become: yes
  user:
    append: yes
    name: www-data
    groups:
      - "rtorrent"
- name: install python3
  become: yes
  package:
    name:
      - python3-pip
- name: install cloudscraper
  become: yes
  pip:
    executable: pip3
    name: cloudscraper
