---
- name: install dependencies (CentOS)
  become: true
  when: ansible_os_family == "CentOS" or ansible_distribution == "Amazon" and ansible_distribution_version == "2"
  package:
    name:
      - readline # Python
      - openssl-devel # Ruby
      - readline-devel # Ruby
- name: install dependencies (Debian)
  when: ansible_os_family == "Debian"
  become: true
  package:
    name:
      - libreadline-dev
      - make
      - build-essential
      - libssl-dev
      - zlib1g-dev
      - libbz2-dev
      - libreadline-dev
      - libsqlite3-dev
      - wget
      - curl
      - llvm
      - libncurses5-dev
      - xz-utils
      - tk-dev
      - libxml2-dev
      - libxmlsec1-dev
      - libffi-dev
      - liblzma-dev
- name: clone asdf repo # noqa git-latest
  git:
    repo: https://github.com/asdf-vm/asdf.git
    update: yes
    clone: true
    dest: "~/.asdf"
    depth: 1
- name: "install plugins"
  shell: # noqa command-instead-of-shell
    cmd: "asdf plugin add {{ item }}"
    creates: "~/.asdf/plugins/{{ item }}"
  environment:
    PATH: "{{ asdf_path }}"
  loop:
    - java
    - nodejs
    - python
    - ruby
    - rust
- name: install release team keys for node js
  shell: bash -c '~/.asdf/plugins/nodejs/bin/import-release-team-keyring' # noqa command-instead-of-shell
- name: install previous release team keys for nodejs
  shell: bash -c '~/.asdf/plugins/nodejs/bin/import-previous-release-team-keyring' # noqa command-instead-of-shell
- name: install asdf tools (this may take a while)
  shell:
    cmd: asdf install
    chdir: "~"
  environment:
    PATH: "{{ asdf_path }}"
- name: reshim asdf
  shell:
    cmd: asdf reshim
  environment:
    PATH: "{{ asdf_path }}"
