
[Unit]
Description=Docker Among Us service
After=docker.service
Requires=docker.service

[Service]
User=root
StandardInput=tty-force
TimeoutStartSec=0
Restart=always
RestartSec=10
ExecStart=/usr/bin/docker run \
  --rm \
  --name %n \
  -p 22023:22023/udp \
  --mount type=bind,source=/server/data/config.json,target=/app/config.json \
  --mount type=bind,source=/server/data/plugins,target=/app/plugins \
  --mount type=bind,source=/server/data/libraries,target=/app/libraries  \
  -it \
  aeonlucid/impostor:nightly
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=default.target
